:root {
   --primary-color: #b5838d;
   --secondary-color: #b56576;
   --tertiary-color: #372549;
}

body {
   background-color: #4f4f4f;
   font-family: Monaco, Helvetica, Arial, san-serif;
}

.grid {
   width: 700px;
   height: 600px;
   margin: 0 auto;
   background-color: #fff;
   padding: 10px 50px 50px 50px;
   border: 5px solid #cbcbcb;
}

.grid h1 {
   background-color: var( --primary-color );
   font-size: 60px;
   text-align: center;
   color: var( --tertiary-color );
   padding: 2px 0px;
}

.wrapper {
   width: 100%;
   display: flex;
   align-self: start;
   height: 100%;
}

.container {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
}

#score {
   color: var( --primary-color )F;
   text-align: center;
   font-size: 30px;
}

#progress {
   font-size: 20px;
   color: var( --secondary-color );
}

#timer {
   color: #641220;
   text-align: right;
   font-size: 20px;
   padding: 0px 20px 0px 0px;
}

.grid #quiz-question {
   font-size: 25px;
   color: var( --primary-color );
   text-align: center;
}

.answer-buttons {
   margin-top: 30px;
   text-align: center;
}

#btn0, #btn1, #btn2, #btn3 {
   background-color: var( --primary-color );
   width: 230px;
   font-size: 20px;
   color: var( --tertiary-color );
   border: 2px solid #372549;
   margin: 10px;
   padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
   cursor: pointer;
   background-color: var( --secondary-color );
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
   outline: 0;
}

#answer-status {
   font-size: 30px;
   text-align: center;
   color: var( --tertiary-color );
   padding: 2px 0px;
}
